@font-face {
  font-family: 'Final Frontier Oldstyle';
  src: url('/resources/fonts/finalold.ttf') format('truetype');
  }

@font-face {
  font-family: 'Federation';
  src: url('/resources/fonts/Federation.ttf') format('truetype');
  }

body {
  margin: 0;
  background-color: rgb(34, 32, 0);
  }

#row-1 {
  background-color: grey;
  text-align: center;
  }

#row-1 p {
  font-family: Final Frontier Oldstyle;
  font-style: italic;
  text-transform: uppercase;
  font-size: 46px;
  padding: 12px;
  margin: 0;
  }

#row-2 {
  /*background-color: rgb(212, 154, 31);*/
  background-color: rgb(80, 152, 198);
  text-align: center;
  }

#row-2 h3 {
  font-family: Federation;
  }

#row-3 {
  text-align: center;
  font-family: Federation;
  color: white;
  }

.row {
  max-width: 100%;
  }

.cartoon {
  /*max-width: 200px;*/
  }
