@font-face {
  font-family: 'Final Frontier Oldstyle';
  src: url('resources/fonts/finalold.ttf') format('truetype');
  }

@font-face {
  font-family: 'Federation';
  src: url('resources/fonts/Federation.ttf') format('truetype');
  }

body {
  margin: 0;
  background-color: rgb(34, 32, 0);
  }

#section-1 {
  background-color: grey;
  text-align: center;
  }

#section-1 p {
  font-family: Final Frontier Oldstyle;
  font-style: italic;
  text-transform: uppercase;
  font-size: 46px;
  padding: 12px;
  margin: 0;
  }

#section-2 {
  /*background-color: rgb(212, 154, 31);*/
  background-color: rgb(80, 152, 198);
  text-align: center;
  font-family: Federation;
  }

#section-3 {
  text-align: center;
  font-family: Federation;
  color: white;
  }

.cartoon-head {
  max-width: 100%;
}

.span_1_of_7 {
  text-align: center;
  }


/* -------------------- CSS FOR GRID -------------------- */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
  }

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
  }
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
  }
.span_1_of_2 {
	width: 49.2%;
  }

/*  GRID OF SEVEN  */
.span_7_of_7 {
	width: 100%;
  }

.span_6_of_7 {
  width: 85.48%;
  }

.span_5_of_7 {
	width: 70.97%;
  }

.span_4_of_7 {
	width: 56.45%;
  }

.span_3_of_7 {
	width: 41.94%;
  }

.span_2_of_7 {
	width: 27.42%;
  }

.span_1_of_7 {
	width: 12.91%;
  }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 { width: 100%; }
}
